.page-header {
  z-index: 1000;
  position: absolute;
  color: $white;
  top: 0;
  background-color: transparent;
  width: 100%;
  padding: 0px 16px;
  
  @include for-laptop {
    z-index: 500;
    padding: 0 $pad * 4;
  }
  @include for-phone {
    z-index: 500;
    padding: 0 $pad * 2;
  }

  & .nav-logo {
    background: $blue;
    height: 97px;
    width: 150px;
    padding: 24px;

  }

  & .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .nav-list {
    display: flex;
    width: 650px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: $bold ;
    @include for-laptop {
      width: 550px;
      font-size: 14px;
    }
    @include for-tablet {
      display: none;
    }
  }

  & .nav-btn {
    width: 150px;
    @include for-tablet {
     width: 50px;
    }
  
  }

  & .nav-item {
    text-transform: uppercase;
    cursor: pointer;
  }

  & .link {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: $bold ;

    & a {
      margin-right: 8px;
      @include for-laptop {
        font-size: 14px;
      }
    }
    @include for-tablet {
      display: none;
    }
  }


  & .menu {
    display: none;
    @include for-tablet {
      display: block;
    }

    & .MuiSvgIcon-root {
      @include for-tablet {
        cursor: pointer;
        height: 50px;
        width: 50px;
      }
   
    }

  }
}


.sticky-header {
  position: sticky;
  background-color: $white;
  transition: all 0.2s linear;
  box-shadow: 0 2px 2px 0 #0f0d2308;
}